<style type="text/css">
		
		#chat-name{
			margin: 0;
			padding: 5px;
			background-color: #CCC;

			font-size: 18px !important;

		}
		#msg-box{
			min-height: 260px;
		}
		#chat-area{
			min-height: 235px;
			overflow-y: scroll;
		}
	</style>
<h2 id="chat-name"></h2>
	<div id="msg-box">
		<input type="text" /><button class="btn btn-sm btn-primary">Send</button>
		<div id="chat-area"></div>
	</div>